In [1]:
exec(open('file_reader.py').read())
df.head()

generating features..

 553480082996879360

 581153923987206146

 500298588992593920

 552788945017516032

 524948206023880704

 553561170637238272

 758159624122097664

 767725956706414592

 580352273001410560

 581359544682614784

 763098277986209792

 581290271997968384

 775057555865206784

 500280249629036544

 498293668655423488

 774991078265094144

 553553288625672192

 524961721744900097

 524941720249978880

 544294893146091520

 768859780240773121

 764927075522260992

 544274544174071809

 498486826269548545

 544315472075042818

 524923293711998976

 769988636754505729

 524936793633083394

 553480082996879360

 581153923987206146

 500298588992593920

 552788945017516032

 524948206023880704

 553561170637238272

 758159624122097664

 767725956706414592

 580352273001410560

 581359544682614784

 763098277986209792

 581290271997968384

 775057555865206784

 500280249629036544

 498293668655423488

 774991078265094144

 553553288625672192

 524961721744900097

 524941720249978880

 544294893146091520

 768859780240773121

 764927075522260992

 544274544174071809

 498486826269548545

 544315472075042818

 524923293711998976

 769988636754505729

 524936793633083394
saving data to output..
test code: sample of dev data (simple version)

                   classification  \
580319078155468800           true
580319184652890113          false
580320684305416192     unverified
580321156508577792          false
580322453928431617          false
580323060533764097           true
580324027715063808           true
580325090367315968     unverified
580326222107951104          false
580331561398108160          false

                                                         context_path  \
580319078155468800                                                NaN
580319184652890113                                                NaN
580320684305416192                                                NaN
580321156508577792                                                NaN
580322453928431617                                                NaN
580323060533764097                                                NaN
580324027715063808  ./semeval2017-task8-dataset/rumoureval-data/ge...
580325090367315968  ./semeval2017-task8-dataset/rumoureval-data/ge...
580326222107951104  ./semeval2017-task8-dataset/rumoureval-data/ge...
580331561398108160  ./semeval2017-task8-dataset/rumoureval-data/ge...

                   has_context  \
580319078155468800           0
580319184652890113           0
580320684305416192           0
580321156508577792           0
580322453928431617           0
580323060533764097           0
580324027715063808           1
580325090367315968           1
580326222107951104           1
580331561398108160           1

                                                                 text  \
580319078155468800  Germanwings Airbus A320 crashes in French Alps...
580319184652890113  BREAKING: 148 passengers were on board #German...
580320684305416192  Accident aircraft looks to be Germanwings (Air...
580321156508577792  Now hearing 148 passengers + crew on board the...
580322453928431617  German Wings airline tweeting now about report...
580323060533764097  Germanwings passenger plane crashes in France:...
580324027715063808  JUST IN: Germanwings plane crashes in southern...
580325090367315968  Flight #4U9525 initially climbed to 38,000 fee...
580326222107951104  Heart goes out to 148 passengers and crew of G...
580331561398108160  1047 call: DGAC source says pilots called «urg...

                         topic  opinion
580319078155468800        true        0
580319184652890113       false        0
580320684305416192  unverified        0
580321156508577792       false        0
580322453928431617       false        0
580323060533764097        true        0
580324027715063808        true        1
580325090367315968  unverified        0
580326222107951104       false        0
580331561398108160       false        0

,classification,context_path,has_context,text,topic,opinion
580319078155468800,true,NaN,0,Germanwings Airbus A320 crashes in French Alps...,true,0
580319184652890113,false,NaN,0,BREAKING: 148 passengers were on board #German...,false,0
580320684305416192,unverified,NaN,0,Accident aircraft looks to be Germanwings (Air...,unverified,0
580321156508577792,false,NaN,0,Now hearing 148 passengers + crew on board the...,false,0
580322453928431617,false,NaN,0,German Wings airline tweeting now about report...,false,0

In [2]:
import sys
sys.path.insert(1, "./feature-extraction/twitter-features")
from VulgarExtractor import VulgarExtractor

In [3]:
wordlist = VulgarExtractor.vulgarWords("badwords.txt") 
dftext = df[['text']]
result = dftext.applymap(lambda x: VulgarExtractor.containsVulgar(x,wordlist))
df['isVulgar'] = result
df.head()

,classification,context_path,has_context,text,topic,opinion,isVulgar
580319078155468800,true,NaN,0,Germanwings Airbus A320 crashes in French Alps...,true,0,False
580319184652890113,false,NaN,0,BREAKING: 148 passengers were on board #German...,false,0,False
580320684305416192,unverified,NaN,0,Accident aircraft looks to be Germanwings (Air...,unverified,0,False
580321156508577792,false,NaN,0,Now hearing 148 passengers + crew on board the...,false,0,False
580322453928431617,false,NaN,0,German Wings airline tweeting now about report...,false,0,False

In [4]:
from TwitterParser import TwitterParser
textlist = [txt.replace('\n','') for txt in df['text'].tolist()]
tagged_sents = TwitterParser.tag(textlist)
df['POS'] = tagged_sents
df.head()

,classification,context_path,has_context,text,topic,opinion,isVulgar,POS
580319078155468800,true,NaN,0,Germanwings Airbus A320 crashes in French Alps...,true,0,False,"[(Germanwings, ^), (Airbus, ^), (A320, ^), (cr..."
580319184652890113,false,NaN,0,BREAKING: 148 passengers were on board #German...,false,0,False,"[(BREAKING, N), (:, ,), (148, $), (passengers,..."
580320684305416192,unverified,NaN,0,Accident aircraft looks to be Germanwings (Air...,unverified,0,False,"[(Accident, N), (aircraft, N), (looks, V), (to..."
580321156508577792,false,NaN,0,Now hearing 148 passengers + crew on board the...,false,0,False,"[(Now, R), (hearing, V), (148, $), (passengers..."
580322453928431617,false,NaN,0,German Wings airline tweeting now about report...,false,0,False,"[(German, A), (Wings, N), (airline, N), (tweet..."

In [5]:
def normalize(column_name):
    std = df[column_name].std()
    norm_col = df[column_name].apply(lambda x: x - std)
    df[column_name] = norm_col

In [6]:
# import TwitterParser features
word_counts = [TwitterParser.word_count(tagged_line) for tagged_line in df['POS']]
pos_count_list = [TwitterParser.pos_counts(tagged_line) for tagged_line in df['POS']]
contains_adjs = [TwitterParser.contains_adjectives(tagged_line) for tagged_line in df['POS']]
contains_urls = [TwitterParser.contains_url(tagged_line) for tagged_line in df['POS']]
contains_emojis = [TwitterParser.contains_emoji(tagged_line) for tagged_line in df['POS']]
contains_abbrevs = [TwitterParser.contains_abbreviation(tagged_line) for tagged_line in df['POS']]

# get word count and normalize
df['wordCount'] = word_counts
normalize('wordCount')

# get an indexed list of pos tag counts
df['posCounts'] = pos_count_list

# get binary features
df['containsAdjective'] = contains_adjs
df['containsURL'] = contains_urls
df['containsEmoji'] = contains_emojis
df['containsAbbreviation'] = contains_abbrevs

df.head()

,classification,context_path,has_context,text,topic,opinion,isVulgar,POS,wordCount,posCounts,containsAdjective,containsURL,containsEmoji,containsAbbreviation
580319078155468800,true,NaN,0,Germanwings Airbus A320 crashes in French Alps...,true,0,False,"[(Germanwings, ^), (Airbus, ^), (A320, ^), (cr...",5.880129,"[0, 0, 0, 7, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, ...",False,False,False,False
580319184652890113,false,NaN,0,BREAKING: 148 passengers were on board #German...,false,0,False,"[(BREAKING, N), (:, ,), (148, $), (passengers,...",12.880129,"[3, 0, 0, 5, 0, 0, 0, 3, 1, 0, 0, 2, 2, 0, 0, ...",True,False,False,False
580320684305416192,unverified,NaN,0,Accident aircraft looks to be Germanwings (Air...,unverified,0,False,"[(Accident, N), (aircraft, N), (looks, V), (to...",12.880129,"[6, 0, 0, 4, 0, 0, 0, 2, 0, 0, 0, 0, 2, 1, 0, ...",False,False,False,False
580321156508577792,false,NaN,0,Now hearing 148 passengers + crew on board the...,false,0,False,"[(Now, R), (hearing, V), (148, $), (passengers...",13.880129,"[4, 0, 0, 2, 0, 0, 0, 3, 1, 1, 0, 1, 3, 1, 0, ...",True,False,False,False
580322453928431617,false,NaN,0,German Wings airline tweeting now about report...,false,0,False,"[(German, A), (Wings, N), (airline, N), (tweet...",13.880129,"[6, 0, 0, 2, 0, 0, 0, 2, 1, 1, 0, 0, 5, 0, 0, ...",True,False,False,False

In [7]:
for i, tag in enumerate(TwitterParser.tagset):
    tag_counts = []
    for pos_counts in df['posCounts']:
        tag_counts.append(pos_counts[i])
    column_name = 'num_' + tag
    df[column_name] = tag_counts
    normalize(column_name)
df.head()

,classification,context_path,has_context,text,topic,opinion,isVulgar,POS,wordCount,posCounts,...,num_X,num_Y,num_#,num_@,num_~,num_U,num_E,num_$,"num_,",num_G
580319078155468800,true,NaN,0,Germanwings Airbus A320 crashes in French Alps...,true,0,False,"[(Germanwings, ^), (Airbus, ^), (A320, ^), (cr...",5.880129,"[0, 0, 0, 7, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, ...",...,0.0,0.0,-0.568624,-0.408248,-0.2,0.0,0.0,-0.840635,-2.142429,-0.374166
580319184652890113,false,NaN,0,BREAKING: 148 passengers were on board #German...,false,0,False,"[(BREAKING, N), (:, ,), (148, $), (passengers,...",12.880129,"[3, 0, 0, 5, 0, 0, 0, 3, 1, 0, 0, 2, 2, 0, 0, ...",...,0.0,0.0,0.431376,-0.408248,-0.2,0.0,0.0,0.159365,-1.142429,-0.374166
580320684305416192,unverified,NaN,0,Accident aircraft looks to be Germanwings (Air...,unverified,0,False,"[(Accident, N), (aircraft, N), (looks, V), (to...",12.880129,"[6, 0, 0, 4, 0, 0, 0, 2, 0, 0, 0, 0, 2, 1, 0, ...",...,0.0,0.0,0.431376,-0.408248,-0.2,0.0,0.0,1.159365,1.857571,-0.374166
580321156508577792,false,NaN,0,Now hearing 148 passengers + crew on board the...,false,0,False,"[(Now, R), (hearing, V), (148, $), (passengers...",13.880129,"[4, 0, 0, 2, 0, 0, 0, 3, 1, 1, 0, 1, 3, 1, 0, ...",...,0.0,0.0,0.431376,0.591752,-0.2,0.0,0.0,1.159365,-0.142429,-0.374166
580322453928431617,false,NaN,0,German Wings airline tweeting now about report...,false,0,False,"[(German, A), (Wings, N), (airline, N), (tweet...",13.880129,"[6, 0, 0, 2, 0, 0, 0, 2, 1, 1, 0, 0, 5, 0, 0, ...",...,0.0,0.0,-0.568624,0.591752,-0.2,0.0,0.0,0.159365,-1.142429,-0.374166